#diff-content {
  margin: 1em;
}

.diff-content-panel {
  margin: 1em;
}

.diff-content-panel .list-group {
  margin: 1em;
}

#diff-content .title {
  font-weight: bold;
}

#notebook_diff_error .alert {
  margin: 1em;
}
